@font-face {
    font-family: 'Roboto_Bold';
    src: url('../fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto_Regular';
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto_Thin';
    src: url('../fonts/Roboto-Light.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    list-style: none;
    font-family: Roboto_Regular;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60vh;
    position: relative;
}

.logo img {
    margin: 0;
    height: 35px;
    width: 35px;
    position: fixed;
    margin-top: 3%;
    margin-left: 3%;
}

.logo h4 {
    font-family: Roboto_Bold;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 4%;
    margin-left: 10%;
}
.logo h6 {
    font-weight: bolder;
    font-size: 0.6rem;
    margin-top: 0.2%;
    margin-left: 9.9%;
}

.bild1 {
    width: 35%;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
}
.bild2 {
    width: 30%;
    z-index: 2;
    top: 0;
    right: 0;
    position: absolute;
    margin-right: 3%;
    animation-duration: 5s;
    animation-timing-function: ;
    animation-iteration-count: infinite;
}
.bild2 {
    animation-name: move;
}
@keyframes move {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(25%);
    }
    100% {
        transform: translate(0);
    }
}
.lila {
    position: absolute;
    width: 100%;
}

.text {
    margin: 12%;
    margin-left: 16%;
    width: 39%;
    font-family: Roboto_Bold;
}
.text h1 {
    margin-bottom: 7%;
    font-family: Roboto_Bold;
    font-size: 2.5em;
}
.text li {
    font-size: 0.82em;
    width: 125%;
}
.text li img {
    height: 1.8em;
}
.text h4 {
    color: red;
    font-weight: bold;
    font-size: 0.7em;
    margin-top: 8%;
}


.images div img {
    position: relative;
    height: 100%;
    width: 100%;
}

.idea {
    display: flex;
    justify-content: space-between;
    gap: 20%;
}
.idea h3 {
    font-size: 1.5em;
    font-weight: bold;
    width: 10rem;
    margin-left: 12%;
    margin-top: 10%;
}
.idea p {
    width: 73%;
    font-size: 0.7em;
    margin-top: 5%;
}

.idea img {
    width: 1.5em;
    height: 1.5em;
}

.after h3 {
    font-size: 1.5em;
    font-weight: bold;
    width: 25rem;
    margin-left: 12%;
    margin-top: 10%;
}


.start img {
    height: 5rem;
    width: 5rem;

}

.ready div img {
    height: ;
    width: ;
}
























@media only screen and (max-width: 760px) {

    html {
        font-size: 12px;
    }

    .u.... {
        font-size: 0.6em;
    }

}



@media only screen and (min-width: 768px) {

    html {
        font-size: 16px;
    }

    .w...... {
        font-size: 2rem;
        font-weight: bold;
    }

}

@media only screen and (min-width: 992px) {

    html {
        font-size: 18px;
    }

    ..... {
        font-size: 3rem;
        font-weight: bold;
    }
}